@model BookSearchViewModel
@section styles {
    <link rel="stylesheet" href="~/css/HastyBLC.css" />
}

@{
    ViewData["Title"] = "Browse Books";
}

<html>
<body>
    <div class="sidebar">
        <div class="image">
            <img src="~/img/logo.png" class="imagehw">
        </div>
        <div class="hasty">
            <h1>HASTY</h1>
            <h1>BLC</h1>
        </div>
        <div class="screens">
            <a asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
            <a asp-controller="Books" asp-action="Books" class="active">Browse Books</a>
        </div>
    </div>

    <div class="content">
        <form method="post" action="/Books/SearchBooks">
            <!-- Search Bar -->
            <div class="search-bar">

                <input asp-for="SearchText" type="text" name="SearchText" placeholder="Search by title or author...">
                    <button type="submit">Search</button>
            
            </div>

            <!-- Filter by Book Genres -->
            <div class="filter-section">
                <h3>
                    <span>Filter by</span>
                    <button type="button" id="expandCollapseGenres" class="btn btn-link float-right">Collapse</button>
                </h3>
                <h4>Book Genres</h4>

                <!-- Create three columns for genres -->
                <div class="checkbox-container genre-columns">
                    @{
                        var sortedGenres = Model.Genres.OrderBy(g => g.Name).ToList();
                    }
                    @for (var i = 0; i < sortedGenres.Count; i += 3)
                    {
                        <div class="genre-column">
                            @for (var j = i; j < Math.Min(i + 3, sortedGenres.Count); j++)
                            {
                                <div class="checkbox">
                                    <input type="hidden" asp-for="Genres![j]" name="Genres[@j].GenreId" value="@sortedGenres[j].GenreId" />
                                    <input asp-for="IsGenreSelected![j]" type="checkbox" id="genre@(j)" class="genre-filter" />
                                    <label for="genre@(j)">@sortedGenres[j].Name</label>
                                </div>
                            }
                        </div>
                    }
                </div>



                <!-- Clear all filters button -->
                <button type="button" id="clearFilters" class="btn btn-link float-right">Clear all filters</button>

                <!-- Search and Clear Buttons Container -->
                @* <div class="clearfix"></div> *@
                @* <div class="buttons-container">
                    <!-- Clear all filters button -->
                    <button id="searchButton" class="btn btn-primary mx-auto d-block">Search</button>
                </div> *@
            </div>
        </form>
        <!-- Sort options dropdown -->
        <div class="sort-options">
            <label for="sortOption">Sort by:</label>
            <select id="sortOption" name="SortOption">
                <option value="Title">Title</option>
                <option value="Rating">Rating</option>
            </select>
        </div>

        <!-- Sort order dropdown -->
        <div class="sort-options">
            <label for="sortOrder">Sort order:</label>
            <select id="sortOrder" name="SortOrder">
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
            </select>
        </div>
        <h2 class="title">ALL BOOKS</h2>
        <div class="books-row">
            @foreach (var book in Model.Books!)
            {
                <div class="book-item" data-title="@book.Title" data-averagerating="@book.AverageRating">
                    <div class="book-image-container">
                        <a asp-controller="Books" asp-action="ViewBook" asp-route-id="@book.BookId">
                            <img src="~/@Html.Raw(book.Image)" alt="@book.Title" class="book-image" />
                        </a>
                    </div>
                </div>

            }
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var button = document.getElementById('expandCollapseGenres');
            var genreCheckboxes = document.querySelectorAll('.genre-filter');

            // Set the button text to 'Expand'
            button.textContent = 'Expand';

            // Hide genre checkboxes
            genreCheckboxes.forEach(function (checkbox) {
                checkbox.parentElement.style.display = 'none';
            });
        });

        // Toggle expand/collapse functionality
        document.getElementById('expandCollapseGenres').addEventListener('click', function () {
            var button = this;
            var text = button.textContent.trim();

            if (text === 'Expand') {
                button.textContent = 'Collapse';
                var genreCheckboxes = document.querySelectorAll('.genre-filter');
                genreCheckboxes.forEach(function (checkbox) {
                    checkbox.parentElement.style.display = 'block';
                });
            } else {
                button.textContent = 'Expand';
                var genreCheckboxes = document.querySelectorAll('.genre-filter');
                genreCheckboxes.forEach(function (checkbox) {
                    checkbox.parentElement.style.display = 'none';
                });
            }
        });


        // Clear all filters functionality  
        document.getElementById('clearFilters').addEventListener('click', function () {
            var genreFilters = document.querySelectorAll('.genre-filter:checked');

            genreFilters.forEach(function (filter) {
                filter.checked = false;
            });
        });

        // Search functionality
        // document.getElementById('searchButton').addEventListener('click', function () {
        //     var searchTerm = document.getElementById('search').value.toLowerCase();
        //     var bookItems = document.querySelectorAll('.book-item');
        // 
        //     bookItems.forEach(function (item) {
        //         var title = item.querySelector('.book-title').textContent.toLowerCase();
        //         item.style.display = title.includes(searchTerm) ? 'block' : 'none';
        //     });
        // });

        // Filter functionality
        var genreFilters = document.querySelectorAll('.genre-filter');

        genreFilters.forEach(function (filter) {
            filter.addEventListener('change', function () {
                var selectedGenres = Array.from(document.querySelectorAll('.genre-filter:checked')).map(function (checkbox) {
                    return parseInt(checkbox.value);
                });

                var bookItems = document.querySelectorAll('.book-item');

                bookItems.forEach(function (item) {
                    var genres = item.dataset.genres.split(',').map(function (id) {
                        return parseInt(id.trim());
                    });

                    var isVisible = selectedGenres.some(function (genre) {
                        return genres.includes(genre);
                    });

                    item.style.display = isVisible ? 'block' : 'none';
                });
            });
        });

        // Function to sort books based on the selected sort option and order
        function sortBooks(sortOption, sortOrder) {
            var bookItems = document.querySelectorAll('.book-item');

            var sortedBookItems = Array.from(bookItems).sort(function (a, b) {
                var aData = a.dataset;
                var bData = b.dataset;

                if (sortOption === 'Title') {
                    return sortOrder === 'Ascending'
                        ? aData.title.localeCompare(bData.title)
                        : bData.title.localeCompare(aData.title);
                } else if (sortOption === 'Rating') {
                    var aRating = parseFloat(aData.averagerating);
                    var bRating = parseFloat(bData.averagerating);

                    return sortOrder === 'Ascending' ? aRating - bRating : bRating - aRating;

                }

                return 0;
            });

            // Update the display with the sorted book items
            var booksRow = document.querySelector('.books-row');
            booksRow.innerHTML = '';
            sortedBookItems.forEach(function (item) {
                booksRow.appendChild(item);
            });
        }

        // Event listener for sort options dropdown
        document.getElementById('sortOption').addEventListener('change', function () {
            var sortOption = this.value;
            var sortOrder = document.getElementById('sortOrder').value;
            sortBooks(sortOption, sortOrder);
        });

        // Event listener for sort order dropdown
        document.getElementById('sortOrder').addEventListener('change', function () {
            var sortOption = document.getElementById('sortOption').value;
            var sortOrder = this.value;
            sortBooks(sortOption, sortOrder);
        });

        // Call sortBooks with default values when the screen is loaded
        sortBooks(document.getElementById('sortOption').value, document.getElementById('sortOrder').value);
    </script>

    @if (Model.TotalBooksCount > Model.PageSize)
    {
        <div class="fixed-pagination-container">
            <ul class="pagination justify-content-center spaced-pagination">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a asp-controller="Books" asp-action="Books" asp-route-page="1" class="page-link">&#9664;</a>
                    </li>
                    <li class="page-item">
                        <a asp-controller="Books" asp-action="Books" asp-route-page="@(Model.CurrentPage - 1)" class="page-link">&#8249;</a>
                    </li>
                }

                @for (int i = 1; i <= Math.Ceiling((double)Model.TotalBooksCount / Model.PageSize); i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a asp-controller="Books" asp-action="Books" asp-route-page="@i" class="page-link">@i</a>
                    </li>
                }

                @if (Model.CurrentPage < Math.Ceiling((double)Model.TotalBooksCount / Model.PageSize))
                {
                    <li class="page-item">
                        <a asp-controller="Books" asp-action="Books" asp-route-page="@(Model.CurrentPage + 1)" class="page-link">&#8250;</a>
                    </li>
                    <li class="page-item">
                        <a asp-controller="Books" asp-action="Books" asp-route-page="@Math.Ceiling((double)Model.TotalBooksCount / Model.PageSize)" class="page-link">&#9654;</a>
                    </li>
                }
            </ul>
        </div>
    }


</body>
</html>