@model BookListViewModel
@section styles {
    <link rel="stylesheet" href="~/css/HastyBLCStyle.css" />
}

@{
    ViewData["Title"] = "Book Page";
}

<html>
<body>
    <div class="sidebar">
        <div class="image">
            <img src="~/img/logo.png" class="imagehw">
        </div>
        <div class="hasty">
            <h1>HASTY</h1>
            <h1>BLC</h1>
        </div>
        <div class="screens">
            <a asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
            <a asp-controller="Genres" asp-action="Genres">Genres</a>
            <a asp-controller="Books" asp-action="Books" class="active">Books</a>
        </div>
    </div>
    <div class="content">
        <div class="text-center">
            <h1>THIS IS THE BOOKS PAGE</h1>
            <h2>Books List</h2>
            <div class="d-flex align-items-center justify-content-center pb-4">
                <a asp-controller="Home" asp-action="AddBook" class="btn btn-outline-danger">Add Book</a>
            </div>
            @foreach (var book in Model.Books!)
            {
                <h2>@book.Title</h2>
                <ul>
                    <li>@book.AuthorName</li>
                    <li>@book.PublishDate</li>
                    <li>
                        @{
                            if (book.Genres != null)
                            {
                                var uniqueGenres = book.Genres.Distinct();
                                <text>@string.Join(", ", uniqueGenres)</text>
                            }
                            else
                            {
                                <text>No Genres</text>
                            }
                        }
                    </li>
                </ul>
                <div class="d-flex align-items-center justify-content-center pb-4">
                    <a asp-controller="Home" asp-action="EditBook" asp-route-isbn="@book.Isbn" class="btn btn-outline-danger">Edit Book</a>
                </div>
                <div class="d-flex align-items-center justify-content-center pb-4">
                    <a asp-controller="Home" asp-action="DeleteBook" class="btn btn-outline-danger">Delete Book</a>
                </div>
            }

        </div>
    </div>
</body>
</html>
