@model HastyBLCAdmin.Models.BookViewModel
@section styles {
    <link rel="stylesheet" href="~/css/viewbook.css" />
}

@{
    ViewData["Title"] = "View Book Details";
}

<html>
<body class="viewbook">
    <div class="book-top-section">
        <a href="#" onclick="goBack()" class="back-button">←</a>
        <div class="book-image-container-view">
            <img src="~/@Html.Raw(Model.Image)" alt="@Model.Title" class="book-detail-image" />
        </div>
        <div class="title-author-container">
            <h2>@Model.Title</h2>
            <p>@Model.AuthorName</p>
        </div>
    </div>
    </div>
    <div class="book-details-container">
        <!-- Description section -->
        <div class="description-section">
            <strong>Description:</strong> 
            <p>@Model.Description</p>
        </div>

        <!-- Book details section -->
        <div class="book-details-section">
           
            <div class="book-details-group-1">
                <div><strong>Published Date:</strong> <p>@Model.PublishDate.ToString("yyyy-MM-dd")</p></div>
                <div><strong>Publisher:</strong> @Model.Publisher</div>
                <div><strong>Language:</strong> @Model.Language</div>
            </div>

            <div class="book-details-group-2">
                <div><strong>Format:</strong> @Model.Format</div>
                <div><strong>Pages:</strong> <p>@Model.Pages</p></div>
                <div><strong>ISBN:</strong> @Model.Isbn</div>
            </div>
            
        </div>

        <!-- Genres section -->
        <div class="genres-section">
            <strong>Genres:</strong>
            <div>
                @foreach (var genre in Model.Genres ?? Enumerable.Empty<string>())
                {
                    <span>@genre</span>
                }
            </div>
        </div>

        <div class="book-action-buttons">
            <a asp-controller="Books" asp-action="EditBook" asp-route-bookId="@Model.BookId" class="btn btn-outline-danger">Edit</a>

            <form method="post" action="/Books/DeleteBook" class="d-inline-block">
                <input type="hidden" name="bookId" value="@Model.BookId" />
                <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this book?');">Delete</button>
            </form>
        </div>

    </div>
    
    <script>
        function goBack() {
            window.history.back();
            return false;  
        }
    </script>


</body>
</html>
