@model HastyBLCAdmin.Models.BookViewModel
@section styles {
    <link rel="stylesheet" href="~/css/viewbook.css" />
    <link rel="stylesheet" href="~/css/HastyBLCStyle.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

}

@{
    ViewData["Title"] = "View Book Details";
}

<html>
<body class="viewbook">
    <!-- The Modal -->
    @await Html.PartialAsync("_EditReview", new Services.ServiceModels.ReviewViewModel())
    @await Html.PartialAsync("_EditComment", new Services.ServiceModels.CommentViewModel())
    @await Html.PartialAsync("_DeleteReview")
    @await Html.PartialAsync("_DeleteComment")

    <div class="book-top-section">
        @* <a href="#" onclick="goBack()" class="back-button">←</a> *@
        <a asp-controller="Books" asp-action="Books" class="back-button">←</a>
        <div class="book-image-container-view">
            <img src="~/@Html.Raw(Model.Image)" alt="@Model.Title" class="book-detail-image" />
        </div>
        <div class="title-author-container">
            <h2>@Model.Title</h2>
            <p>@Model.AuthorName</p>
        </div>
    </div>
    </div>
    <div class="book-details-container">
        <!-- Description section -->
        <div class="description-section">
            <strong>Description:</strong> 
            <p>@Model.Description</p>
        </div>

        <!-- Book details section -->
        <div class="book-details-section">
           
            <div class="book-details-group-1">
                <div><strong>Published Date:</strong> <p>@Model.PublishDate.ToString("yyyy-MM-dd")</p></div>
                <div><strong>Publisher:</strong> @Model.Publisher</div>
                <div><strong>Language:</strong> @Model.Language</div>
            </div>

            <div class="book-details-group-2">
                <div><strong>Format:</strong> @Model.Format</div>
                <div><strong>Pages:</strong> <p>@Model.Pages</p></div>
                <div><strong>ISBN:</strong> @Model.Isbn</div>
            </div>
            
        </div>

     
        <!-- Genres section -->
        <div class="genres-section">
            <hr class="section-divider">
            <strong>Genre/s:</strong>
            <div>
                @foreach (var genre in Model.Genres ?? Enumerable.Empty<string>())
                {
                    <span>@genre</span>
                }
            </div>
        </div>
        
        
        <div class="book-action-buttons">
            <a asp-controller="Books" asp-action="EditBook" asp-route-bookId="@Model.BookId" class="btn btn-outline-danger">Edit</a>

            <form method="post" action="/Books/DeleteBook" class="d-inline-block">
                <input type="hidden" name="bookId" value="@Model.BookId" />
                <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete this book?');">Delete</button>
            </form>
        </div>
       
        <!-- Book Reviews section -->
        <div class="book-reviews-section">
            <hr class="section-divider">
    <h3 class="book-reviews-title">Book Reviews</h3>

    @foreach (var review in Model.Reviews!)
    {
        <div class="review">
            <div class="review-header">
                        <div class="review-header-top">
                <h4 class="review-author">@review.Name</h4>
                        <div class="review-actions">
                                <button class="btn btn-outline-danger editReviewBtn"
                                        data-review-id="@review.ReviewId"
                                        data-review-name="@review.Name"
                                        data-review-user-email="@review.UserEmail"
                                        data-review-rating="@review.Rating"
                                        data-review-description="@review.Description">
                                    <i class="fas fa-edit"></i> 
                                </button>

                            <button class="btn btn-outline-danger deleteReviewBtn" data-review-id="@review.ReviewId">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        </div>
                <span class="review-email">@review.UserEmail</span>
                        <div class="review-rating-container">
                            
                            <div class="rating">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <span class="fa fa-star @(i <= review.Rating ? "checked" : "")"></span>
                                }
                            </div>

                          
                        </div>


            </div>
            <p class="review-description">@review.Description</p>
            
            
                    <hr class="section-divider">
                    <button class="btn show-comments-btn">Comments</button>
                    <div class="comments-section" style="display: none;">
                @foreach (var comment in review.Comments!)
                {

                    <div class="comment">
                        <div class="comment-header">
                            <h6 class="comment-author">@comment.Name</h6>
                            <span class="comment-email">@comment.UserEmail</span>
                        </div>
                        <p class="comment-description">@comment.Description</p>
                        
                        <div class="comment-actions">
                            <button class="btn btn-outline-danger editCommentBtn" data-comment-id="@comment.CommentId">
                                <i class="fas fa-edit"></i> 
                            </button>
                            <button class="btn btn-outline-danger deleteCommentBtn" data-comment-id="@comment.CommentId">
                                <i class="fas fa-trash"></i> 
                            </button>
                                   
                        </div>
                              
                    </div>
                   
                }
            </div>
        </div>
    }
</div>

          
    
    <script>
        function goBack() {
            window.history.back();
            return false;  
        }
    </script>


</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/viewbook.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    var commentsButtons = document.querySelectorAll('.show-comments-btn');

    commentsButtons.forEach(function(button) {
        button.addEventListener('click', function () {
            var commentsSection = this.nextElementSibling; // Assuming comments section is right after the button
            if (commentsSection.style.display === 'none') {
                commentsSection.style.display = 'block';
            } else {
                commentsSection.style.display = 'none';
            }
        });
    });
});

</script>