@model IEnumerable<Book>
@section styles {
    <link rel="stylesheet" href="~/css/HastyBLCStyle.css" />
}
@{
    ViewData["Title"] = "Dashboard";
}
<html>
<body>
    <div class="sidebar">
        <div class="image">
            <img src="~/img/logo.png" class="imagehw">
        </div>
        <div class="hasty">
            <h1>HASTY</h1>
            <h1>BLC</h1>
        </div>
        <div class="screens">
            <a asp-controller="Dashboard" asp-action="Dashboard" class="active">Dashboard</a>
            <a asp-controller="Genres" asp-action="Genres">Genres</a>
            <a asp-controller="Books" asp-action="Books">Books</a>
            <form method="post" asp-controller="Account" asp-action="SignOutUser" id="logoutForm">
                <button type="submit" class="logout-button"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </div>
    </div>
    <div class="user">
        <div class="user-info-container">
            <span class="username username-truncate">@User.Identity.Name</span>
            <div class="profile-image-container"></div>
        </div>
    </div>
    <div class="content">
        <div>
            <h2 class="title">Top Books</h2>
            <div class="book-row">
                @foreach (var book in Model.OrderByDescending(b => b.Reviews!.Any() ? b.Reviews!.Average(r => r.Rating) : -1).ThenBy(b => b.Title).Take(5))
                {
                    <div class="book-item">
                        <div class="book-image-container">
                            <ul>
                                <a asp-controller="Books" asp-action="ViewBook" asp-route-id="@book.BookId">
                                    <img src="~/@Html.Raw(book.Image)" alt="@book.Title" class="book-image" />
                                </a>
                            </ul>
                        </div>
                    </div>
                }
                <div class="book-row" style="justify-content: center; align-items: center;">
                        <a asp-controller="Dashboard" asp-action="TopBooks" style="text-align:center; display:inline-block">
                            <span style="display: inline-block; text-align: center; font-family: 'Josefin Sans', sans-serif;">&#8594</span><br>Top Books
                        </a>
                </div>
            </div>
        </div>
        <div>
            <h2 class="title">New Books</h2>
            <div class="book-row">
                @foreach (var book in Model.Where(b => b.CreatedTime >= DateTime.Now.AddDays(-14)).OrderByDescending(b => b.CreatedTime).ThenByDescending(book => book.BookId).Take(5))
                {
                    <div class="book-item">
                        <div class="book-image-container">
                            <ul>
                                <a asp-controller="Books" asp-action="ViewBook" asp-route-id="@book.BookId">
                                    <img src="~/@Html.Raw(book.Image)" alt="@book.Title" class="book-image" />
                                </a>
                            </ul>
                        </div>
                    </div>
                }
                @if (!Model.Any(b => b.CreatedTime >= DateTime.Now.AddDays(-14)))
                {
                    <div class="book-row" style="justify-content: center; align-items: center;">
                        <span style="display: inline-block; text-align: center; font-family: 'Josefin Sans', sans-serif;">No New Books Available</span>
                    </div>
                }
                else
                {
                    <div class="book-row" style="justify-content: center; align-items: center;">
                        <a asp-controller="Dashboard" asp-action="NewBooks" style="text-align:center; display:block">
                            <span style="display: inline-block; text-align: center; font-family: 'Josefin Sans', sans-serif;">&#8594</span><br>New Books
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>