@model List<Genre>?
@section styles {
    <link rel="stylesheet" href="~/css/HastyBLCStyle.css" />
}
@{
    ViewData["Title"] = "Genres";
}
<html>
<body>
    <div class="sidebar">
        <div class="image">
            <img src="~/img/logo.png" class="imagehw">
        </div>
        <div class="hasty">
            <h1>HASTY</h1>
            <h1>BLC</h1>
        </div>
        <div class="screens">
            <a asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
            <a asp-controller="Genres" asp-action="Genres" class="active">Genres</a>
            <a asp-controller="Books" asp-action="Books">Books</a>
            <form method="post" asp-controller="Account" asp-action="SignOutUser" id="logoutForm">
                <button type="submit" class="logout-button"><i class="fas fa-sign-out-alt"></i> Logout</button>
            </form>
        </div>
    </div>
    <div class="user">
        <div class="user-info-container">
            <span class="username">@User.Identity.Name</span>
            <div class="profile-image-container"></div>
        </div>
    </div>
    <div class="content">
        <div class="text-center">
            <h1>THIS IS THE GENRES PAGE</h1>
            <!-- Button to trigger the modal -->
            @* <a asp-controller="Genres" asp-action="AddGenre" class="btn btn-outline-danger">Add Genre</a> *@
            <div class="d-flex align-items-center justify-content-center pb-4">
                <button id="addGenreBtn" class="btn btn-outline-danger">Add Genre</button>
            </div>

            <!-- The Modal -->
            @await Html.PartialAsync("_AddGenre", new Services.ServiceModels.GenreViewModel())
            @await Html.PartialAsync("_EditGenre", new Services.ServiceModels.GenreViewModel())
            @await Html.PartialAsync("_DeleteGenre")
            
            @if (Model == null)
            {
                <h2>There are no genres</h2>
            } 
            else
            {
                @foreach (var genre in Model)
                {
                    <form method="get" asp-action="ViewGenre" class="li3">
                        <input type="hidden" name="genreId" value="@genre.GenreId" />
                        <button type="submit" class="btn btn-outline-danger">@genre.Name</button>
                    </form>
                    <div class="d-flex align-items-center justify-content-center pb-4">
                        <button class="btn btn-outline-danger editGenreBtn" data-genre-id="@genre.GenreId" data-genre-name="@genre.Name">
                            Edit Genre
                        </button>
                        <button class="btn btn-outline-danger deleteGenreBtn" data-genre-id="@genre.GenreId">
                            Delete Genre
                        </button>
                    </div>
                }
            }
            
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/genre.js"></script>
